body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #bbb2b2;
    width: 100%;
  }
   
  div {
    text-align: center;
  }
   
  form {
    width: 360px;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    animation: fadeIn 0.5s ease-in-out;
  }
   
  .field {
    margin-bottom: 15px;
    text-align: left;
  }
   
  label {
    display: block;
    margin-bottom: 5px;
  }
   
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
   
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Set your desired button color */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
   
  button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
  }
   
  
   
  mt-2 {
    margin-top: 2px;
  }
   
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  
